*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
body{
    width: 100vw;
    height: 100vh;
}
nav{
    height: 40px;
    background-color: black;
}
nav>ul{
    height: 100%;
    display: flex;
    align-items: stretch;
}
a{
    text-decoration: none;
    color: white;
}
nav>ul>li{
    margin-left: 30px;
    position: relative;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 80px;
}
nav>ul>li:nth-child(4){
    margin-left: auto;
    margin-right: 30px;
}
nav>ul>li>a{
    display: flex;
    align-items: center;
}
nav>ul>li>ul{
    position: absolute;
    top: 100%;
    width: 100%;
}
nav>ul>li>ul>li{  
    display: none;
}
ul.drop-menu{
    width: 105%;
}
li:hover ul.drop-menu{
    /* perspective: 1000px; */
}
li:hover ul.drop-menu li{
    background-color: #ddd;
    height: 35px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    animation: myNav 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    /* opacity: 0; */
    visibility: hidden;
    border-bottom: 1px solid black;
}
li:hover ul.drop-menu li>a{
    flex:  0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
li:hover ul.drop-menu li:nth-child(2){
    animation-delay: 150ms;
}
li:hover ul.drop-menu li:nth-child(3){
    animation-delay: 300ms;
}
@keyframes myNav{
    0%{
        /* opacity: 0; */
        
        transform: scale(0.3) translateY(-30px);
    }
    80%{
        transform: scale(1) translateY(10px);
    }
    100%{
        /* opacity: 1; */
        transform: scale(1) translateY(0px);
        visibility: visible;
    }
}
main{
    height: 500px;
    background-image: url(bg.jpg);
    background-size: contain;
}